@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--font1);
    min-height: 100%;
    background-color: rgb(191, 219, 219);
}
header{
    background-color: black;
    color:white;
    text-align: center;
}
header > h1{
    font-family: var(--font2);
    font-size: 10vh;
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}

section{
    font-family: var(--font3);
    font-size: 3.5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    
}
p {
    line-height: 2em;
    
    
}
.link{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.link:hover{
    text-decoration: underline;
    background-color: rgba(102, 102, 84, 0.404);
}
.normal{
    background-color: white;
    color: black;

}
.imagem{
    background-color: rgb(105, 84, 84);
    color: white;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.712);
    display: inline-block;
    padding: 5px;
}






footer{
    background-color: black;
    color: white;
    text-align: center;
}